# Created by https://www.toptal.com/developers/gitignore/api/reactnative

### ReactNative ###

# React Native Stack Base
.expo

#  Uncomment the following line in case you need and you don't have the release build type files in your app
# release/

# Gradle files
build/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

### ReactNative.Linux Stack ###
*~

# Linux trash folder which might appear on any partition or disk
.Trash-*

### ReactNative.Node Stack ###
# Logs
logs
yarn-error.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Stores VSCode versions used for testing VSCode extensions
extensions.json
.vscode-test

# Thumbnails
._*

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# Node.js
node_modules/
yarn-error.log

# CocoaPods
/ios/Pods/

# Expo
.expo/
dist/